ultralytics==8.4.66
ultralytics-thop==2.0.19
torch==2.9.1+cu130
torchvision==0.24.1+cu130
opencv-python==4.13.0.92
pillow==12.0.0
numpy==2.2.6
seaborn==0.13.2
matplotlib==3.10.0
pandas==2.3.3
PyYAML==6.0.3
tqdm==4.67.3
